body {
    /* The image used */
    background-image: url("lotr.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

.allforone {
    margin-left: 15%;
    margin-right: 15%;
}

.topster {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 65px;
    margin-bottom: 0%;
    text-align: left;
    padding-left: 20px;
    font-family: 'myCustomFont', THE BOLD FONT, sans-serif;
}

.content {
    padding: 20px;
    text-align: center;
    background-color: bisque;
    overflow: auto;
  }

@font-face {
  font-family: 'myCustomFont';
  src: url('THE BOLD FONT - FREE VERSION - 2023.ttf');
}
@font-face {
  font-family: 'yourFontName'; /* you can choose any name */
  src: url('Aragon Sans Bold.otf') format('opentype');
}


.returnhome {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.returnhome:hover {background-color: #3e8e41}

.returnhome:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.skrrrt {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.topheavy {
  padding: 5px;
  margin: -20px;
  margin-bottom: 0%;
  border-style: outset;
  border-width: 10px;
  border-color: rgb(255, 213, 161);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 2;
}

.topheavy h1 {
  font-family: 'myCustomFont', THE BOLD FONT, sans-serif;
  font-size: 65px;
}


.xenox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.xenox > div {
  margin-bottom: 20px;
  margin-inline: 4%;
}




.h1a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
}

.desc {
  font-family: yourFontName;
  font-size: 22px;
  max-width: 1080px;
  margin: auto;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
}





.votingbox {
  text-align: center;
  margin: 50px;
}

.votingimage {
  width: 240px;
  height: 360px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.votingimage:hover {
  transform: scale(1.1);
}

.votable {
  border-radius: 4px;
  background-color: #dea363;
  opacity: 0.6;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.votable:hover {
  opacity: 0.8;
}

.votable span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.votable span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.votable:hover span {
  padding-right: 25px;
}

.votable:hover span:after {
  opacity: 1;
  right: 0;
}
.votable:disabled, .votable:disabled span {
  cursor: not-allowed;
}


.votedisabled {
  cursor: not-allowed;
  border-radius: 4px;
  background-color: #dea363;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.unvotable {
  border-radius: 4px;
  background-color: #dea363;
  opacity: 0.6;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: disabled;
  margin: 5px;
}









.wbutton {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  font-family: mycustomfont;
}

.wbutton1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.wbutton1:hover {
  background-color: #04AA6D;
  color: white;
}


.clutchnba {
  display: grid; /* This will create a grid layout */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* This will create as many 200px columns as will fit in the container, and the columns will grow and shrink as needed */
  gap: 20px;
  background-color: #dea363;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.clutchnba2 {
  display: grid; /* This will create a grid layout */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* This will create as many 200px columns as will fit in the container, and the columns will grow and shrink as needed */
  gap: 20px;
  background-color: #dea363;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.boxlikeafish {
  padding-top: 28px;
}

































.sidetext {
  text-align: left;
  padding-left: 8px;
  padding-right: 5px;
  font-family: "cofo-sans-variable",sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  font-size: 19px;
}






.sidebarheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e1a433;
  justify-content: center;
  text-align: center;
  margin: -15px;
  padding: 5px;
  color: rgb(255, 245, 224);
  font-family: mycustomfont;
  font-size: 25px;
}

.sidebar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: right;
  background-color: #ecd1a0;
  padding: 15px;
  margin-top: -40px;
  width: 350px;
}

.supporttext {
  margin-top: 25px;
  margin-left: 25px;
  float: left;
  display: inline;
  text-align: left;
  max-width: 600px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homeplayer {
  width: 40%;
  height: 405px;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}

.newbro {
  flex-wrap: wrap;
}










.NAV2 {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: bisque;
  z-index: 1;
}





.NAV2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  font-family: 'yourFontName', Aragon sans, sans-serif;
}

.NAV2 li {
  display: inline-block;
}

.NAV2 li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'yourFontName', Aragon sans, sans-serif;
}

.NAV2 li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}





  





  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'myCustomFont', THE BOLD FONT, sans-serif;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }











  
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -16px; /* Adjusted value */
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.next:hover {
  transform: translate(5px);
}

.prev:hover {
  transform: translate(-5px);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
  max-width: 420px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  font-family: mycustomfont;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}